<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BANPROINPU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="sesionActiva" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/inicio">Inicio</a>
        </li>

        <li *ngIf="sesionActiva && moduloparametros" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/parametros/obtener-parametros">Parametros</a>
        </li>

        <li *ngIf="sesionActiva && modulopersonas" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/personas">Personas</a>
        </li>

        <li *ngIf="sesionActiva"  class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="sesionActiva && modulorecepcion"><a class="dropdown-item" routerLink="/proyectos/recepcion">Recepción</a></li>
            <li *ngIf="sesionActiva && moduloasignacion"><a class="dropdown-item" routerLink="/proyectos/asignacion">Asignación</a></li>
            <li *ngIf="sesionActiva && modulorevicion"><a class="dropdown-item" routerLink="/proyectos/revision">Revisión</a></li>
            <li *ngIf="sesionActiva && modulodevolucion"><a class="dropdown-item" routerLink="/proyectos/devolucion">Devolución</a></li>
            <li *ngIf="sesionActiva && modulovalidacion"><a class="dropdown-item" routerLink="/proyectos/validacion">Validación</a></li>
            <li *ngIf="sesionActiva && moduloregistro"><a class="dropdown-item" routerLink="/proyectos/registro">Registro</a></li>
          </ul>
        </li>

        <li *ngIf="sesionActiva && modulocertificacion" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/certificacion">Certificación</a>
        </li>

        <li *ngIf="sesionActiva && modulopresupuesto" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/presupuesto">Presupuesto</a>
        </li>

        <li *ngIf="sesionActiva && moduloplandedesarrollo" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/plan-desarrollo">P Desarrollo</a>
        </li>

        <li *ngIf="sesionActiva && moduloconsultas" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/consultas">Consultas</a>
        </li>

        <li *ngIf="sesionActiva && moduloinformes" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/informes">Informes</a>
        </li>

        <li *ngIf="sesionActiva" class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/explorar-archivos">Exp Archivos</a>
        </li>


      </ul>


      <a *ngIf="sesionActiva" routerLink="/seguridad/cerrar-sesion" ><i class="bi bi-box-arrow-in-right fs-3 custom-icon"></i></a>



    </div>
  </div>
</nav>
