<div class="bg-secondary d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container" style="margin-top: 10px;">
    <div class="row row-cols-1 row-cols-md-4 justify-content-center">
      <!-- Uso de *ngFor -->
      <div class="col mb-4 d-flex justify-content-center" *ngFor="let dato of datos">
        <div class="card" style="width: 18rem; border-radius: 10px;">
          <img src="../../../../assets/img/database_icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ dato.esquema_db }}</h5>
            <p class="card-text">{{ dato.departamentos_nombre }}</p>
            <p class="card-text">{{ dato.municipios_nombre }}</p>
            <button (click)="loginConSquema(dato.esquema_db!)" class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton-azul"> Entrar </button>
          </div>
        </div>
      </div>
      <!-- Fin del bucle *ngFor -->
    </div>
  </div>
</div>
